<html lang="en">
    <%-include('_particle/head') %>
<body>
    <%-include('_particle/pic_header') %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <%-include('_particle/table')%>
                <%-include('_particle/pageNation')%>
            </div>
            <div class="col-sm-12  order-first order-sm-first order-md-2 col-md-4 slide">
                <%-include('_particle/slide/user')%>
                <%-include('_particle/slide/friend_links')%>
                <%-include('_particle/slide/tag_cloud')%>

            </div>


            </div>
        </div>
    </div>
    <%-include('_particle/footer') %>
    <%-include('_particle/script') %>
</body>
</html>
