<div class="problem-info">
    <ul class="nav">
        <li class="nav-item">
            <button class="btn btn-outline">
                标签
            </button>
            <%tags.forEach(function(tag){%>
                <span class="badge">
                    <a href="<%-config.web_refix%><%-tag.url%>">
                        <%=tag.name%>
                    </a>

                </span>
            <% })%>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline">
                来源
            </button>
            <%srcs.forEach(function(src){%>
            <span class="badge">
                <a class="" href="<%=src.url%>"><%=src.oj%></a>
            </span>
            <% })%>

        </li>
        <li class="nav-item">
            <button class="btn btn-outline">
                难度
            </button>
            <span class="badge"><%=level%></span>
        </li>
    </ul>
</div>
