<head>
    <meta charset="UTF-8">
    <title><%= config.title %></title>
    <link rel="shortcut icon" href="<%-config.web_prefix%>static/img/favicon.ico">
    <link rel="stylesheet" href="<%-config.web_prefix%>static/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%-config.web_prefix%>static/fonts/iconfont.css" />
    <script src="<%-config.web_prefix%>static/popper/popper.min.js"></script>
    <script src="<%-config.web_prefix%>static/js/jquery.min.js"></script>
    <script src="<%-config.web_prefix%>static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="<%-config.web_prefix%>static/google-font/font.css">
    <link rel="stylesheet" href="<%-config.web_prefix%>static/app.css">
    <style>

pre {
    font-family: 'Ubuntu Mono' !important;
}
    </style>
</head>
