<div class="pagination-container">
    <ul class="pagination">
        <%pagination.forEach(function(page){%>
            <%if(typeof(page)=="string"){%>
                <li class="page-item"><%=page%></li>
            <%}else {%>
            <li class="page-item <%=page.active?'active':''%>"><a class="page-link" href="<%-config.web_prefix%><%=page.url%>"><%=page.page%></a></li>
            <% }%>
        <% })%>
    </ul>
</div>
